@media (max-width:550px) {

     .master {
          width: 100vw;
          height: 100vh;
     }

     .master>nav {
          width: 100vw;
          height: 8vh;
          justify-content: space-between;
          padding: 0rem 1rem;
     }

     .master>nav>div>.green {
          display: none;
     }

     .master>nav>div {
          padding: 0rem;
     }

     .master>nav>.link {
          display: none;
     }

     .master>nav>div>button {
          padding: 0rem 1rem;
     }

     .master>.page1 {
          width: 100vw;
          height: 100vh;
          text-align: center;
     }

     .master>.page1>.content {
          width: 100vw;
          height: 40vh;
          align-items: center;
          text-align: center;
     }

     .master>.page1>.content>p {
          display: none;
     }

     .master>.page1>.content>button {
          padding: 0.2rem 0.5rem;
          border: 1px solid black;
          border-radius: 0.2rem;
          font-weight: 400;
     }

     .master>.page1>.page_img>div {
          width: 40vw;
          height: 40vh;
          margin: 0rem 9.9rem;

     }

     .master>.page1>.content>h1 {
          font-size: 2rem;
          text-align: center;
     }

     .master>.page1>.page_img {
          width: 90vw;
          height: 60vh;
          text-align: center;
          margin-left: 0rem;

     }

     .master>.page1>.page_img>div>.left {
          text-align: center;
          margin-left: -8rem;

     }

     .master>.page1>.page_img>div>.left>.top {
          font-size: 0.5rem;
          padding: 0rem;
     }

     .master>.page1>.page_img>div>.left>.bottom {
          padding: 2rem 0rem;
     }

     .master>.page1>.page_img>div>.left>.bottom>h1 {
          font-size: 1rem;
     }

     .master>.page1>.page_img>div>.left>.bottom>p {
          font-size: 1rem;
     }

     .master>.page1>.page_img>div>.middle_left {
          padding: 0rem;
     }

     .master>.page1>.page_img>div>.middle_left>h1 {
          font-size: 1.8rem;
          padding: 2rem 0rem;
     }

     .master>.page1>.page_img>div>.middle_left>h5 {
          font-size: 1rem;
          text-align: center;
          padding: 1rem 0.2rem;
     }

     .master>.page1>.page_img>div>.middle {
          padding: 0rem;
     }

     .master>.page1>.page_img>div>.middle>h5 {
          font-size: 1rem;
          padding: 3rem 0.2rem;
     }

     .master>.page1>.page_img>div>.middle_right {
          padding: 0rem;

     }

     .master>.page1>.page_img>div>.middle_right>h5 {
          font-size: 1rem;
          margin: 5rem 0rem;
     }

     .master>.page1>.page_img>div>.right {
          padding: 0rem;
     }

     .master>.page1>.page_img>div>.right>.top>h1 {
          font-size: 1rem;
     }

     .master>.page1>.page_img>div>.right>.bottom {
          padding: 5rem 0rem;
     }

     .master>.page1>.page_img>div>.right>.bottom>h5 {
          font-size: 0.8rem;
          margin: 0rem;
          padding: 0rem;
     }

     .master>.page1>.page_img>div>.middle>button {
          display: none;
     }

     .master>.page2 {
          width: 100vw;
          height: 100vh;
          text-align: center;
          flex-direction: column;
          margin: 0rem 0rem;
          justify-content: center;
          padding: 0rem;
          gap: 0rem;
     }

     .master>.page2>.left {
          width: 100vw;
          height: 60vh;
          margin: 0rem 0rem;
          text-align: center;
          padding: 0rem 1rem;
     }

     .master>.page2>.left>p {
          display: none;
     }

     .master>.page2>.right {
          width: 100vw;
          height: 50vh;
          padding: 0rem;
          margin-top: 1rem;
     }

     .master>.page2>.right>.top {
          margin: 1rem 0.5rem;
          text-align: left;
          padding: 1rem;
     }

     .master>.page2>.right>.middle {
          margin: 1rem 0.5rem;
          text-align: left;
          padding: 1rem;
     }

     .master>.page2>.right>.bottom {
          margin: 1rem 0.5rem;
          padding: 1rem;
          text-align: left;
     }

     .master>.page3 {
          width: 100vw;
          height: 100vh;
          margin-top: 8rem;
     }

     .master>.page3>div {
          width: 85vw;
          height: 100vh;
          padding: 0rem;
          margin: 0rem 4rem;
          text-align: center;
     }

     .master>.page3>div>h1 {
          font-size: 1.5rem;
          padding-top: 3rem;
     }

     .master>.page3>div>p {
          font-size: 0.8rem;
     }

     .master>.page3>div>div {
          flex-direction: column;
          text-align: center;
          padding: 4rem;
          margin: 0rem;
          gap: 0rem;
     }

     .master>.page3>div>div>div>h4 {
          font-size: 1.2rem;
     }

     .master>.page3>div>div>div>p {
          font-size: 0.8rem;
     }

     .master>.page3>div>div>div>img {
          display: none;
     }

     .master>.page4 {
          width: 100vw;
          height: 100vh;
          margin-top: 3rem;
     }

     .master>.page4>div {
          width: 95vw;
          height: 50vh;
          
     }

     .master>.page4>div>.left {
          width: 16vw;
          height: 45vh;

     }

     .master>.page4>div>.left>.top {
          width: 16vw;
          height: 32vh;
     }

     .master>.page4>div>.left>.top>img {
          width: 15vw;
          height: 12rem;
     }

     .master>.page4>div>.left>.bottom {
          width: 15vw;
          height: 12vh;
     }

     .master>.page4>div>.middle {
          width: 10vw;
          height: 32vh;
     }

     .master>.page4>div>.middle>img {
          width: 10vw;
          height: 45vh;
     }


     .master>.page4>div>.left>.left_middle {
          width: 16vw;
          height: 32vh;
     }

     .master>.page4>div>.left_middle>img {
          width: 15vw;
          height: 45vh;
     }
     .master>.page4>div>.left>.right_middle {
          width: 16vw;
          height: 32vh;
     }

     .master>.page4>div>.right_middle>img {
          width: 15vw;
          height: 45vh;
     }

     
     .master>.page4>div>.right {
          width: 16vw;
          height: 45vh;

     }

     .master>.page4>div>.right>.bottom {
          width: 15vw;
          height: 32vh;
     }

     .master>.page4>div>.right>.bottom>img {
          width: 15vw;
          height: 12rem;
     }

     .master>.page4>div>.right>.top {
          width: 15vw;
          height: 12vh;
     }
     .master > .page5{
          width: 50vw;
          height: 20vh;
          top: 9rem;
          left: -17rem;
          padding: 1rem;
     }
     .master > .page5 >h2{
          font-size: 0.8rem;
     }
     .master > .page5 >button{
          padding: 0.5rem 1rem;
          font-size: 0.5rem;
     }
     .master > .page6{
          display: none;
     }
}